@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: 0;
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 700;
  /* PeydaWebFaNum-Light.woff2 */
  src: url("./fonts/PEYDA/MAIN/woff2/PeydaWebFaNum-SemiBold.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/PEYDA/MAIN/woff/PeydaWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: "Casablanca";
  src: url("./fonts/Casablanca.ttf") format("truetype");
}

/* LOCAL  -- START  */
.box_border {
  box-shadow: rgb(0, 0, 0) 4px 4px;
  transition: all 0.3s;
}

.box_border:hover {
  box-shadow: rgb(0, 0, 0) 1px 3px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* LOCAL -- END  */
