@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IRANSans";
    src: url("./fonts/IRANSans.ttf") format("truetype");
}

@font-face {
    font-family: "Casablanca";
    src: url("./fonts/Casablanca.ttf") format("truetype");
}


/* LOCAL  -- START  */
.box_border{
    box-shadow: rgb(0, 0, 0) 4px 4px;
    transition: all 0.30s;
}

.box_border:hover{
    box-shadow: rgb(0, 0, 0) 1px 3px;
}
/* LOCAL -- END  */
